<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="icon-close"></span>
    </button>
    <h4 class="h1 mt-15 mb-30 modal-title">Shipping summary</h4>
</div>
<div class="modal-body">
    {% block body %}
    {% endblock %}
</div>

